<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="error">
    En el Excel existe un dato que no esta bien definido, por favor validar.
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <div>
        <input class="form-control form-control-lg" id="formFileLg" (change)="onFileChange($event)" multiple="false"
          type="file">
      </div>
      <div class="table-responsive mt-5">
        <table class="table table-sm table-hover">
          <tr *ngFor="let row of data">
            <td *ngFor="let val of row" [ngStyle]="{'background-color': val !== undefined ? '' : 'red' }">
              {{val}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div class="d-grid gap-2 mb-5">
        <button class="btn btn-primary btn-lg" (click)="contador()" [disabled]="error">Calcular porcentajes</button>
      </div>
      <div class="card mb-5">
        <div class="card-body">
          <p class="card-text">Si el procentaje de usuarios que poseen vehivculos y estan dispuestos a arquilarlos es mayor al 60% el negocio es viable</p>
          <h1 class="text-center">{{porcentaje1}}</h1>
          <p *ngIf="porcentaje1 > 60"> es viable</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Si el procentaje de usuarios que estan interados en arrendar un vehiculo y cuenta con licencia de conduccion es mayor al 60% el negocio es viable</p>
          <h1 class="text-center">{{porcentaje2}}</h1>
          <p *ngIf="porcentaje2 > 60"> es viable</p>
        </div>
      </div>

    </div>
  </div>

</div>